@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
/* /////navbar */
.logo{
    width: auto;
    margin-left: 50px;
}
.link{
    color: #7F6FEA ;
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Karla', sans-serif;

}
.form{
    margin-right: 50px;
}
/* /////PatienLandingPage */

.bgpurple{
    background-color: #EAE8FB  ;
    width: 100%;
    height: 210px;
    margin-top: 0px;
   
   
}
.intro{
  text-align: center;
  font-family: 'Abhaya Libre', serif;
  color: black;
}
.title1{
    font-family: 'Abhaya Libre', serif;
    color: black;
}
.bggrey{
    background-color: #E3E2E8  ;
    width: 100%;
    height: 230px;
}

.list{
    margin-right: 25px;
    font-family: 'Karla', sans-serif;

}
.buttonmainpage{
    background-color: #7F6FEA;
    border: 1px solid #7F6FEA;
    border-radius: 3px;
    height: 35px;
    margin: auto;
    width: auto;
    color: white;
}
/* //////////////footer */
.buttonfooter{
    background-color: #EAE8FB;
    border: 1px solid #EAE8FB;
    border-radius: 3px;
    height: 35px;
    margin: auto;
    width: auto;
}
.footer{
    background-color: #7F6FEA;
    
    }
.footerlinks{
        display: flex;
        
    }
.footerlink{
        color: white;
        margin-right: 20px;
        margin-left: 50px;
        
    }

.icon{
    color: white;
    font-size: 30px;
}


/* //////////singup */
.signupGradient{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left top,#2ACDFA, #E927D3, #7F6FEA  );
}
.bgwhite{
    background-color: white;
    width: 700px;
    border-radius: 14px;
    margin-top: 35px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #7F6FEA;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    }
    
.checkbox-round:checked {
    background-color: #7F6FEA;
}
.titlesingup{
    font-family: 'Abhaya Libre', serif;
}
.labelsingup{
    font-family: 'Karla', sans-serif;
    font-size: 10px;
}
.checkbox{
    font-family: 'Karla', sans-serif;
    font-size: 10px;
}
.inputsingup{
width: 300px;
}